@model IEnumerable<AccomodationServiceModel>

@{
    ViewBag.Title = "All Accomodations";
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any cars yet!</h2>
}

<partial name="_AccomodationsPartial" model="@Model" />