@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore;
@using Resortify.Data.Models;

@inject SignInManager<ResortifyUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        bool isOwner = User.IsInRole("Owner");

        <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="" asp-action="">Hello @User.Identity?.Name</a>
        </li>
        if (isOwner)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Owner" asp-action="Mine">My Accomodations!</a>
            </li>
        }
        <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="" asp-controller ="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="" asp-controller ="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="" asp-controller ="User" asp-action="Login">Login</a>
    </li>
}
</ul>
